.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: flex-start;
}

nav a {
  margin-right: 10px;
  /* text-decoration: none; */
  background-color: rgb(144, 232, 204);
}
nav a.active {
  margin-right: 10px;
  /* text-decoration: none; */
  background-color: rgb(144, 232, 204);
}

.container input {
  margin-bottom: 30px;
  width: 60%;
  padding: 10px;
  font-size: 22px;
}

.container {
  margin-top: 50px;
}

.col {
  /* height: 400px; */
  /* margin-bottom:20px ; */
  /* position: relative; */
}

.card {
  width: 380px;
  /* height: 200px; */
  /* text-align: center; */
  /* margin: 0 40px; */
}

.card img {
  width: 200px;
  height: 120px;
  text-align: center;
  margin: 10px 50px;

}

.card-body .card-title {
  width: 80%;
  height: 40px; 
}

.card-body .card-text {
  width: 80%;
  height: 150px;
}
